# Python
/venv
*.pyc
__pycache__/

# Editors
.idea/
.vscode/

# Build files
build/
.sass-cache/
dist/

# Build Path of Test Fixtures
test/**/public
.gatsby-context.js
.DS_Store
public/
node_modules/
.cache/

# Environment variables
.env