{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3" id="card-left-border">
        <div class="card-body">
            <h2 class="card-title"> About </h2>
            <div class="col-md-10">
                <p class="card-text"> Project Euler is a community where those who are interested in programming and/or
                    solving math problems can put their knowledge to the test and learn more along the way. More info
                    can be
                    found at <a href="https://projecteuler.net">projecteuler.net</a>. </p>
            </div>
        </div>
    </div>

    <div class="card mb-3" id="card-left-border">
        <div class="card-body">
            <h2 class="card-title"> Solutions </h2>
            <div class="col-md-10">
                <p class="card-text"> Below is my progress in a few different programming language. All of the code in
                    my explanations is written using Python 3, but the concepts should be applicable no matter what
                    programming language you choose to use to solve the problems. The complete
                    repository of code can be found on my <a
                            href="https://github.com/jackmoody11/project-euler-solutions">GitHub <i
                            class="fab fa-github"></i></a>.</p>
            </div>
            <div class="col-md-10">
                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Python</th>
                        <th scope="col">Java</th>
                        <th scope="col">C</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for solution in solutions %}
                        <tr>

                            <th scope="row"><a
                                    href="{{ url_for('euler.show', number='p{}'.format(solution.number.zfill(3))) |safe }}"
                            >{{ solution.number }}</a>
                            </th>
                            <td>{% if solution.python %}
                                <i class="fa fa-check text-success" aria-hidden="true"></i> {% else %}
                                <i class="fa fa-times text-danger" aria-hidden="true"></i> {% endif %}</td>
                            <td>{% if solution.java %}
                                <i class="fa fa-check text-success" aria-hidden="true"></i> {% else %}
                                <i class="fa fa-times text-danger" aria-hidden="true"></i> {% endif %}</td>
                            <td>{% if solution.c %}
                                <i class="fa fa-check text-success" aria-hidden="true"></i> {% else %}
                                <i class="fa fa-times text-danger" aria-hidden="true"></i> {% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}