{% extends 'base.html' %}

{% block styles %}
    <!-- highlight.js -->
    <!-- Change word before .min.css to change style of code -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/github.min.css">

{% endblock %}

{% block title %}
    Project Euler #{% block problem_number %}{% endblock %}
{% endblock %}

{% block content %}
    <!-- Problem Statement -->
    <div class="card mb-3" id="card-left-border">
        <div class="card-body">
            <h5 class="card-title"> {% block problem_title %} {% endblock %} </h5>
            <p class="card-text"> {% block problem_text %} {% endblock %} </p>
        </div>
    </div>
    <!-- Solution (explained) -->
    <div class="card mb-3" id="card-left-border">
        <div class="card-body">
            <h5 class="card-title"> The Idea </h5>
            <p class="card-text"> {% block idea_text %} {% endblock %} </p>
        </div>
    </div>
    <!-- Solution (code) -->
    <div class="card mb-3" id="card-left-border">
        <div class="card-body">
            <h5 class="card-title"> The Code </h5>
            <p class="card-text">
            <pre>{% block code %} {% endblock %}</pre>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- MathJax -->
    <script type="text/javascript">
        MathJax.Hub.Config({
            "HTML-CSS": {linebreaks: {automatic: true, width: "container"}},
            displayAlign: "center",
            extensions: ["tex2jax.js", "MathMenu.js", "MathZoom.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            TeX: {extensions: ["AMSmath.js", "AMSsymbols.js", "noErrors.js", "noUndefined.js"]},
            tex2jax: {ignoreClass: "w1", processClass: "active|comments-content"}
        });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>

    <!-- highlight.js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>

{% endblock %}
