{% extends 'solution.html' %}
{% block problem_title %}Problem 4 - Largest Palindrome Product {% endblock %}

{% block problem_text %}
    A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers
    is 9009 = 91 × 99. Find the largest palindrome made from the product of two 3-digit numbers.
{% endblock %}

{% block idea_text %}
    Since there are only 900 3-digit numbers, checking all possibilities of products of 3 digit numbers gives \(900^2 =
    810,000\) possibilities. To eliminate redundancies, we can check only half (for example 100 x 200 = 200 x 100). This
    leaves 40,500 combinations to be checked. After multiplying each pair, we check to see if it is a palindrome and if
    the number is greater than the current max palindrome.
{% endblock %}