@import "./_colors"
@import "./overrides"

// https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c
#page-container
  position: relative
  min-height: 100vh
  width: 100%

// Projects page
i.close-btn
  color: $gray-600
  &:hover
    color: $gray-900
    cursor: pointer

.badge
  &:hover
    cursor: pointer

.tag-filter
  background-color: $gray-200

.alert-hidden
  display: none

#card-left-border
  padding: 1.25rem
  margin-top: 1.25rem
  margin-bottom: 1.25rem
  border: 1px solid #e2e8f0
  border-left-width: .25rem
  border-radius: .25rem
  width: 100%
