<div class="card">
    <img class="card-img-top" src="{{ page.cover_img[0] }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ page.title }}</h5>
        {% for tag in page.tags %}
            <span class="badge badge-light">{{ tag }}</span>
        {% endfor %}
        <p class="card-text">{{ page.description }}</p>
        <p class="card-text"><small class="text-muted">{{ page.published.strftime('%b %-d, %Y') }}</small></p>
        <p class="card-text"><a href="{{ url_for('blog.show', path=page.path) }}">Continue reading</a></p>
    </div>
</div>
