<footer class="footer">
    <div class="row text-center">
        <div class="col-6 offset-3">
            <span class="text-muted">&copy; Jack Moody 2020</span>
        </div>
        <div class="col-3 social-icons">
            <a href="https://github.com/jackmoody11" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://linkedin.com/in/jacklmoody" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>