@import "./_colors"
@import "./overrides"

// Cards
#card-left-border
  padding: 1.25rem
  margin-top: 1.25rem
  margin-bottom: 1.25rem
  border: 1px solid $gray-300
  border-left-width: .25rem
  border-radius: .25rem
  width: 100%

#card-border
  border-width: .25rem
  border-color: $yellow-500

// Footer
#footer-spacer
  height: 60px
  width: 100%

// Social icons
.social-icons
  padding-left: 15px
  padding-right: 15px

.social-icons a
  text-decoration: none
  color: $gray-500
  font-size: 1.25rem

  &:hover
    color: $gray-700

// https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c
#page-container
  position: relative
  min-height: 100vh

// Projects page
.close-btn
  display: none

  &:hover
    display: block

.tag-filter
  background-color: $gray-200
  &:hover
    background-color: $gray-400

.filter-badge
  background-color: $gray-200
  &:hover
    background-color: $gray-400

.footer
  position: absolute
  bottom: 0
  padding: 15px
  height: 60px
  text-align: center
  width: 100%
  background-color: $gray-200 !important