{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="row h-100">
        <div class="my-3 position-relative p-md-5 p-3 text-center bg-light">
            <div class="offset-col-3 col-5 p-lg-5 my-5 mx-auto">
                <h1 class="display-4 font-weight-normal">Jack Moody</h1>
                <p class="lead font-weight-normal">Welcome to my website! Here you will find some of my work and
                    thoughts.</p>
                <a class="btn btn-outline-secondary" href="#">Coming soon</a>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>
    </div>
{% endblock %}