{% extends 'base.html' %}

{% block title %} Projects {% endblock %}

{% block content %}
    <div class="container">
        <h1>Projects</h1>
        <hr/>
        {% for project_row in projects | batch(3) %}
            <div class="container">
                <div class="row mb-3">
                    {% for project in project_row %}
                        {% include '_project.html' %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}