{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row">
    <div class="jumbotron mx-auto">
        <h1 class="display-4">Jack Moody</h1>
        <p class="lead">Welcome to my site! You can find some of my work and learn more about what I do.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href={{ url_for('home.projects') }} role="button">My Projects</a>
        </p>
    </div>
</div>
{% endblock %}