{% extends 'euler/solution.html' %}

{% block problem_title %} Problem 1 - Multiples of 3 and 5 {% endblock %}

{% block problem_text %}
    If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these
    multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.
{% endblock %}

{% block idea_text %} Note that 3 divides 3, 6, 9, 12, ... and 5 divides 5, 10, ... while both numbers divide certain
    numbers (15, 30, 45, ...). Since 3 and 5 are both prime numbers, they only "collide" every 15, so we can find the
    sum of the numbers which are divisible by either 3 or 5 by summing the numbers divisible by either and then
    subtracting the instances where we double count (every 15).
    <br/>
    \[
    \sum_{i=1}^{\lfloor\frac{1000}{3}\rfloor} 3i + \sum_{i=1}^{\lfloor\frac{1000}{5}\rfloor} 5i -
    \sum_{i=1}^{\lfloor\frac{1000}{15}\rfloor} 15i
    \]
    <br/>
    Noting that this is simply an arithmetic sum, and the formula for an arithmetic sum of the form
    \[
    \sum_{i=1}^{n} a_{n} = n\left(\frac{a_{1} + a_{n}}{2} \right)
    \]
    we can calculate the formula above.
    <br/>
    \[
    \text{Answer} = 333 \left(\frac{3 + 999}{2}\right) + 200 \left(\frac{5 + 1000}{2}\right) - 66 \left(\frac{15 +
    990}{2}\right)
    \]

{% endblock %}